---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import Layout from '../layouts/Layout.astro';
import DonorMiniProfile from "../components/DonorMiniProfile.astro";

let DONOR_STATS_URL = 'https://stats.endowment.dev/donors';

const donors_res = await fetch(DONOR_STATS_URL);
const donors = await donors_res.json();
const donorsByClass = donors.reduce((donorsByClass, donor) => {
    if (!(donor.class in donorsByClass)) {
        donorsByClass[donor.class] = [];
    }
    donorsByClass[donor.class].push(donor);
    return donorsByClass;
}, {});
const nHardcodedDonors = 2;
const nDonors = donors.length + nHardcodedDonors;

const classDisplayNames: Record<string, string> = {
    '100K+': '$100,000+ individual donors',
    '10-100K': '$10,000+ individual donors',
    '1-10K': '$1,000+ individual donors',
    '0-1K': 'Other donors',
};
const otherDonorsClassName = '0-1K';
---

<Layout>
    <article>
        <section class="pagesec">
            <div class="container">
                <div class="insec insec--xpad insec--side-squares">
                    <div class="sechead">
                        <h1>Community</h1>
                        <p>
                            We welcome everybody to the donor community, and
                            thank our {nDonors} donors for generous
                            donations to the Open Source Endowment, increasing
                            the sustainability of the global software supply
                            chain.
                        </p>
                        <p>
                            Community is a cornerstone of our endowment, and
                            all individuals contributing at least $1000/year —
                            OSE Members — are invited to participate in its
                            <a href="/endowment#governance">governance</a>.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pagesec">
            <div class="container">
                <div class="insec insec--xpad donor-board">
                    {Object.entries(donorsByClass).map(([className, donors]) =>
                        className != otherDonorsClassName && (
                            <h2>{classDisplayNames[className]}</h2>
                            <div class="donor-list">
                                {donors.map((donor) => (
                                    <DonorMiniProfile
                                        name={donor.name}
                                        description="CEO, Foocorp"
                                    ></DonorMiniProfile>
                                ))}
                            </div>
                        )
                    )}
                    <h2>Institutional donors</h2>
                    <div class="donor-list">
                        <DonorMiniProfile
                            name="G-Research"
                            avatarUrl="https://avatars.githubusercontent.com/u/21341965?s=200&v=4"
                        ></DonorMiniProfile>
                        <DonorMiniProfile
                            name="Evil Martians"
                            description="Pro bono donor"
                            avatarUrl="https://avatars.githubusercontent.com/u/46581?s=200&v=4"
                        ></DonorMiniProfile>
                    </div>
                    <h2>{classDisplayNames[otherDonorsClassName]}</h2>
                    <div class="donor-list">
                        {donorsByClass[otherDonorsClassName].map((donor) => (
                            <DonorMiniProfile
                                name={donor.name}
                                description="CEO, Foocorp"
                                compact={true}
                            ></DonorMiniProfile>
                        ))}
                    </div>
                </div>
            </div>
        </section>
    </article>
</Layout>

<style global>
    .donor-board {
        h2 {
            font-size: 1.25rem;
        }
    }
</style>
