---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

import { humanize } from '../util.ts';
import Layout from '../layouts/Layout.astro';
import DonorMiniProfile from "../components/DonorMiniProfile.astro";

let STATS_URL = 'https://stats.endowment.dev/';
let TEMP_STATS_URL = 'https://stats.endowment.dev/temp';
let DONOR_STATS_URL = 'https://stats.endowment.dev/donors';

const statsRes = await fetch(STATS_URL);
const stats = await statsRes.json();

const tempStatsRes = await fetch(TEMP_STATS_URL);
const tempStats = await tempStatsRes.json();

const donorsRes = await fetch(DONOR_STATS_URL);
const allDonors = await donorsRes.json();
const individualDonors = allDonors.filter((d) => d.type == 'individual');
const featuredDonors = individualDonors
    .filter((d) => d.featured)
    .sort((a, b) => a.featured - b.featured);

---

<Layout>
    <section class="pagesec pagesec--no-top-border">
        <div class="container">
            <div class="insec insec--nopad">
                <div class="intro">
                    <div class="intro-text">
                        <small>The world's first</small>
                        <h1>Open Source<br>Endowment</h1>
                        <small>
                            Truly
                            <span class="desktop-only">
                                <span class="hlbox">
                                    <span class="hlbox--text">
                                        sustainable funding
                                    </span>
                                    <span class="hlbox--main">
                                        <span class="hlbox--sm hlbox--nw"></span>
                                        <span class="hlbox--sm hlbox--ne"></span>
                                        <span class="hlbox--sm hlbox--sw"></span>
                                        <span class="hlbox--sm hlbox--se"></span>
                                    </span>
                                </span>
                            </span>
                            <span class="mobile-only">sustainable funding</span>
                            for critical OSS through a community&#x2011;driven
                            endowment
                        </small>
                        <div class="buttonset">
                            <a
                                href="https://www.every.org/osendowment?suggestedAmounts=100%2C500%2C1000%2C2000&theme_color=5ba9ee&designation=Endowment+Fund&utm_campaign=donate-link#/donate"
                                class="button button--colored"
                                data-track="intro-bottom-donate"
                            >Donate</a>
                            <a
                                href="/endowment"
                                class="button"
                                data-track="intro-bottom-learn"
                            >Learn More</a>
                        </div>
                    </div>
                    <img class="intro-tree" src="/images/illustrations/em-tree.svg">
                </div>
            </div>
            <div class="insec insec--xpad insec--ytight intro-kpis">
                <div>
                    <b>${humanize(tempStats.endowment.fund_size)}</b><span>endowment fund</span>
                </div>
                <div>
                    <b>{tempStats.donors.total}</b><span>total donors</span>
                </div>
                <div>
                    <b>{tempStats.donors.members}</b><span><span class="desktop-only">people </span>donated $1K+</span>
                </div>
            </div>
        </div>
    </section>
    <section class="pagesec pagesec--grid">
        <div class="container">
            <div class="insec insec--xpad">
                <div class="cardset">
                    <div class="card card--big-icon">
                        <img src="/images/icons/em-sustainable.svg" alt="A leaf-shaped squiggle">
                        <div>
                            <h2>Sustainable</h2>
                            <p>
                                Provides a stable, long-term funding model, independent of the volatility of traditional
                                support.
                            </p>
                        </div>
                    </div>
                    <div class="card card--big-icon">
                        <img src="/images/icons/em-systemic.svg" alt="A building block">
                        <div>
                            <h2>Systemic</h2>
                            <p>
                                Supports the critical but underfunded projects that conventional models miss.
                            </p>
                        </div>
                    </div>
                    <div class="card card--big-icon">
                        <img src="/images/icons/em-efficient.svg" alt="A performance gauge">
                        <div>
                            <h2>Efficient</h2>
                            <p>
                                A lean, digital-first, community-led organization designed for maximum impact and
                                transparency.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pagesec">
        <div class="container">
            <div class="insec insec--nopad-bottom insec--nopad-x">
                <h2 class="sechead">Trusted by open source creators, founders, executives and investors</h2>
            </div>
        </div>
    </section>
    <section class="pagesec">
        <div class="container container--mobile-unpadded">
            <div class="insec insec--nopad insec--noborder-right insec--side-squares">
                <div class="grid grid--bigfirst">
                    <figure class="grid__item endorsement">
                        <blockquote>
                            <p>
                                Nearly everything in our digital world depends on open source software — a vital
                                public good that suffers from the tragedy of the commons and lacks sustainable funding.
                            </p>
                            <p>
                                Inspired by top universities that have sustained themselves through generations,
                                we're building the Endowment to provide lasting support for critical OSS,
                                powered by donations from the global tech community.
                            </p>
                            <p>
                                Join us in securing the future of open source.
                            </p>
                        </blockquote>
                        <figcaption class="donor-mini-profile">
                            <div class="donor-avatar">
                                <img
                                    src="/images/endorsements/konstantin.webp"
                                    alt="A portrait of Konstantin Vinogradov"
                                    width="64"
                                    height="64"
                                >
                            </div>
                            <div>
                                <h3>Konstantin Vinogradov</h3>
                                <i>ex General Partner at Runa Capital</i>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="grid__item endorsement">
                        <blockquote>
                            <p>
                                The Open Source Endowment is so obvious in hindsight, it’s high time we brought
                                this model to bear on
                                <a href="https://openpath.quest/2024/the-open-source-sustainability-crisis/"
                                   >the Open Source sustainability crisis</a
                                >.
                            </p>
                        </blockquote>
                        <figcaption class="donor-mini-profile">
                            <div class="donor-avatar">
                                <img
                                    src="/images/endorsements/chad.webp"
                                    alt="A portrait of Chad Whitacre"
                                    width="64"
                                    height="64"
                                >
                            </div>
                            <div>
                                <h3>Chad Whitacre</h3>
                                <i>Head of Open Source, Sentry</i>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="grid__item endorsement">
                        <blockquote>
                            <p>
                                Open source underpins the critical infrastructure of the global tech ecosystem, and the
                                community-driven Endowment is a wonderful initiative to pursue its long-term
                                sustainability.
                            </p>
                        </blockquote>
                        <figcaption class="donor-mini-profile">
                            <div class="donor-avatar">
                                <img
                                    src="/images/endorsements/mitchell.webp"
                                    alt="A portrait of Mitchell Hashimoto"
                                    width="64"
                                    height="64"
                                >
                            </div>
                            <div>
                                <h3>Mitchell Hashimoto</h3>
                                <i>Co-founder, HashiCorp</i>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="grid__item endorsement">
                        <blockquote>
                            <p>
                                The Endowment is a very promising project. I am happy to join and pretty excited to
                                see how it contributes to the FOSS funding ecosystem.
                            </p>
                        </blockquote>
                        <figcaption class="donor-mini-profile">
                            <div class="donor-avatar">
                                <img
                                    src="/images/endorsements/kailash.webp"
                                    alt="A portrait of Kailash Nadh"
                                    width="64"
                                    height="64"
                                >
                            </div>
                            <div>
                                <h3>Kailash Nadh</h3>
                                <i>CTO, Zerodha</i>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="grid__item endorsement">
                        <blockquote>
                            <p>
                                Being part of the OSS community for 20+ years, I have consistently reflected on the
                                significant and unfair imbalance between the value open source creates and its
                                long-term sustainability. I view the Endowment as an efficient way to give back and
                                address this issue.
                            </p>
                        </blockquote>
                        <figcaption class="donor-mini-profile">
                            <div class="donor-avatar">
                                <img
                                    src="/images/endorsements/maxim.webp"
                                    alt="A portrait of Maxim Konovalov"
                                    width="64"
                                    height="64"
                                >
                            </div>
                            <div>
                                <h3>Maxim Konovalov</h3>
                                <i>Co-founder & ex CTO at Nginx</i>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="pagesec">
        <div class="container">
            <div class="insec insec--xpad">
                <div class="sechead">
                    <h2>Solving Open&nbsp;Source Sustainability Together</h2>
                    <h3>Our world runs on open source software that is mostly built and maintained by unpaid volunteers. Its sustainable funding creates serious risks for all of us.</h3>
                </div>
                <div class="sustainability">
                    <div class="sustainability-outline">
                        <figure>
                            <a href="https://xkcd.com/2347/" target="_blank">
                                <img
                                    src="/images/xkcd-2347.png"
                                    alt="This xkcd comic shows a Jenga-like tower of blocks, illustrating “all modern digital infrastructure”. The structure precariously rests on a small load-bearing block, titled “a project some random person in Nebraska has been thanklessly maintaining since 2003”."
                                    width="300">
                            </a>
                        </figure>
                        <div class="sustainability-stats">
                            <div>
                                <i>>95%</i>
                                <p>software depends on OSS</p>
                            </div>
                            <div>
                                <i>500+</i>
                                <p>OSS dependencies in average app</p>
                            </div>
                        </div>
                    </div>
                    <div class="sustainability-boxgroup">
                        <div class="sustainability-box">
                            <h3>
                                <i><div class="bubble bubble--no"></div>Problem</i>
                                Critical but Fragile Infrastructure
                            </h3>
                            <p>
                                Maintainers’ burnout and lack of funding often lead to bugs and serious security incidents,
                                as seen with
                                <a href="https://en.wikipedia.org/wiki/Log4Shell" target="_blank">Log4Shell</a>,
                                the
                                <a href="https://en.wikipedia.org/wiki/XZ_Utils_backdoor" target="_blank">XZ Utils backdoor</a>
                                and
                                <a href="https://en.wikipedia.org/wiki/Heartbleed" target="_blank">Heartbleed</a>.
                                The unsustainable state of OSS financing makes critical infrastructure more fragile and
                                puts our world at ever-growing risk.
                            </p>
                        </div>
                        <div class="sustainability-arrow">↓</div>
                        <div class="sustainability-box">
                            <h3>
                                <i><div class="bubble bubble--ok"></div>Solution</i>
                                OSS Community Endowment
                            </h3>
                            <p>
                                Successfully
                                <a href="https://en.wikipedia.org/wiki/Financial_endowment" target="_blank">used</a>
                                by leading universities for centuries, endowments spend only investment returns from
                                donations to advance their causes, weathering economic and political volatility.
                            </p>
                            <p>
                                We are building a community-led endowment fund that leverages "open source alumni" to
                                sustainably fund the most critical OSS projects. It is an open nonprofit, and everybody is
                                welcome to join — every contribution matters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pagesec pagesec--dark">
        <div class="container">
            <div class="insec insec--xpad">
                <div class="squares squares--corner-dark-sw-inner"></div>
                <div class="squares squares--corner-dark-sw-outer"></div>
                <div class="squares squares--corner-dark-ne-inner"></div>
                <div class="squares squares--corner-dark-ne-outer"></div>
                <h2 class="sechead sechead--left">Next-gen Nonprofit,<br>Based on Principles</h2>
                <div class="features">
                    <div class="feature">
                        <img src="/images/icons/em-academy.svg" alt="An academy">
                        <h3>Data-Driven & SMART Goals</h3>
                        <p>
                            Data guides our goal-based strategy,
                            ensuring every donation makes a measurable difference.
                        </p>
                    </div>
                    <div class="feature">
                        <img src="/images/icons/em-globe.svg" alt="A globe">
                        <h3>Global Outlook</h3>
                        <p>
                            Supports the long-term health of the global open source supply chain, not of specific countries or
                            ecosystems.
                        </p>
                    </div>
                    <div class="feature">
                        <img src="/images/icons/em-door.svg" alt="An open door">
                        <h3>Maximum Transparency</h3>
                        <p>
                            Provides open data, public governance processes, and clear accountability in all funding
                            decisions and operations.
                        </p>
                    </div>
                    <div class="feature">
                        <img src="/images/icons/em-people.svg" alt="Two people">
                        <h3>Inclusive and Diverse Governance</h3>
                        <p>
                            Empowers the community to shape key strategic decisions with a focus on individuals over companies.
                        </p>
                    </div>
                    <div class="feature">
                        <img src="/images/icons/em-network.svg" alt="A global network">
                        <h3>Decentralized Funding</h3>
                        <p>
                            A broad funding base from diverse sources makes every contribution meaningful and
                            fosters community governance.
                        </p>
                    </div>
                    <div class="feature">
                        <img src="/images/icons/em-umbrella.svg" alt="An umbrella">
                        <h3>Neutrality</h3>
                        <p>
                            Remains independent from political or corporate influence, ensuring unbiased, mission-driven
                            funding for the public good.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pagesec">
        <div class="container">
            <div class="insec insec--xpad">
                <h2 class="sechead">How It Works</h2>
                <div class="how-it-works">
                    <div class="how-it-works__step">
                        <div>
                            <div class="how-it-works__digit">1</div>
                            <h3>Fundraising</h3>
                            <p>
                                Individuals, companies, and foundations donate to
                                the Open Source Endowment, forming its permanent
                                principal, which is not spent.
                            </p>
                        </div>
                        <img
                            src="/images/illustrations/howto-1.svg"
                            alt="Individuals, companies and foundations donate money">
                    </div>
                    <div class="how-it-works__step">
                        <div>
                            <div class="how-it-works__digit">2</div>
                            <h3>Investing</h3>
                            <p>
                                The endowment principal is invested in a low-risk
                                portfolio that generates sustainable annual
                                returns. We target a ~5% spend rate, typical for
                                U.S. universities.
                            </p>
                        </div>
                        <img src="/images/illustrations/howto-2.svg"
                            alt="The donated money is invested">
                    </div>
                    <div class="how-it-works__step">
                        <div>
                            <div class="how-it-works__digit">3</div>
                            <h3>Grantmaking</h3>
                            <p>
                                We distribute grants based on open, data-driven
                                inputs and our model, co-developed with the
                                Endowment's Members and in consultation with the
                                open source community.
                            </p>
                        </div>
                        <img src="/images/illustrations/howto-3.svg"
                            alt="Grants are distributed">
                    </div>
                    <div class="how-it-works__step">
                        <div>
                            <div class="how-it-works__digit">4</div>
                            <h3>Monitoring</h3>
                            <p>
                                Supported projects are tracked for accountability,
                                refining strategy, and maximizing OSE's positive
                                impact. The grantmaking model is iteratively
                                improved.
                            </p>
                        </div>
                        <img src="/images/illustrations/howto-4.svg"
                            alt="The progress of grant-funded work is monitored">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="pagesec" id="donors">
        <div class="container">
            <div class="insec insec--xpad">
                <div class="sechead">
                    <h2>Supported by the tech community</h2>
                    <h3>Here are some of the generous donors helping make Open Source sustainable. We welcome everybody to join them today</h3>
                </div>
                <div class="donor-list donor-list--faded">
                    {featuredDonors.map((donor) => (
                        <DonorMiniProfile
                            name={donor.name}
                            description={donor.description}
                            avatarUrl={donor.picture_url}
                        ></DonorMiniProfile>
                    ))}
                </div>
                <div class="buttonset buttonset--center">
                    <a
                        href="/community"
                        class="button"
                    >See all {tempStats.donors.total} donors →</a>
                </div>
            </div>
        </div>
    </section>
    <section class="pagesec pagesec--dark">
        <div class="container">
            <div class="insec insec--xpad big-cta">
                <div>
                    <h2>Contribute to Open Source</h2>
                    <h3>Make an ever-lasting impact on the open source ecosystem. All people donating $1K+ become the OSE Members, who are invited to governing the Endowment</h3>
                    <a
                        href="https://www.every.org/osendowment?suggestedAmounts=100%2C500%2C1000%2C2000&theme_color=5ba9ee&designation=Endowment+Fund&utm_campaign=donate-link#/donate"
                        class="button button--colored"
                        data-track="big-cta-donate"
                    >Donate</a>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style>
    .sustainability {
        display: flex;
        gap: 4rem;
        @media (max-width: 800px) {
            flex-direction: column;
            gap: 4rem;
        }
        .sustainability-outline {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.0rem;
            figure {
                margin: 0;
                a {
                    display: block;
                    width: 100%;
                    max-width: 20rem;
                    margin-left: auto;
                    margin-right: auto;
                    &:hover {
                        background: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .sustainability-stats {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                padding: 0 2rem;
                text-align: center;
                i {
                    font-size: var(--font-size-6);
                }
                p {
                    font-size: var(--font-size-3);
                    color: var(--color-text-dark-secondary);
                }
            }
        }
        .sustainability-arrow {
            text-align: center;
            font-size: var(--font-size-6);
            font-weight: 500;
            color: var(--color-text-dark);
        }
        .sustainability-boxgroup {
            flex: 3;
            display: flex;
            gap: 2rem;
            flex-direction: column;
            justify-content: space-between;
            .sustainability-box {
                padding: 1.5rem;
                border: 1px solid var(--color-section-border);
                h3 {
                    margin-bottom: 0.7rem;
                    font-size: var(--font-size-5);
                    font-weight: 500;
                    i {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        margin-bottom: 0.3rem;
                        font-size: var(--font-size-4);
                        font-weight: 500;
                        font-variant-caps: small-caps;
                        font-feature-settings: "smcp";
                        text-transform: lowercase;
                        font-family: var(--font-family-mono);
                        .bubble {
                            margin-top: 2px;
                        }
                    }
                }
                p {
                    color: var(--color-text-dark-secondary);
                    font-size: var(--font-size-3);
                }
            }
        }
    }
    .roadmap {
        /*
            NOTE: This class is not currently used but should be used again in the future. Feel free to delete if enough
            time passes and it is still unused.
            — vladh, 08 Dec 2025
        */
        .roadmap-item {
            position: relative;
            padding-bottom: 2rem;
            padding-left: 3rem;
            h3 {
                margin-bottom: 0.5rem;
            }
            ul {
                margin: 0;
                li {
                    margin: 0;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 1.5rem;
                width: 1.5rem;
                background: var(--color-secondary-bright);
                border-radius: 100%;
            }
            &:after {
                content: '';
                position: absolute;
                top: 1rem;
                left: 0.75rem;
                bottom: -0.5rem;
                transform: translateX(-50%);
                display: block;
                width: 0.3rem;
                background: var(--color-secondary-bright);
            }
            &:last-child:after {
                display: none;
            }
        }
    }
    .how-it-works {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 52rem;
        margin-left: auto;
        margin-right: auto;
        .how-it-works__step {
            display: flex;
            gap: 4rem;
            align-items: center;
            @media (max-width: 1000px) {
                flex-direction: column;
                gap: 1rem;
            }
            .how-it-works__digit {
                font-size: var(--font-size-8);
                font-family: var(--font-family-serif);
                line-height: 1;
                color: var(--color-secondary);
            }
            & > img {
                width: 18rem;
                flex-basis: 18rem;
                @media (max-width: 1000px) {
                    margin-top: 1.5rem;
                    width: auto;
                    flex-basis: auto;
                    max-width: 100%;
                }
            }
            h3 {
                margin: 0;
                margin-bottom: 0.8rem;
                font-size: var(--font-size-5);
                font-weight: 600;
            }
            p {
                color: var(--color-text-dark-secondary);
                font-size: var(--font-size-3);
                line-height: 1.6;
            }
        }
    }
</style>
