---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  nodonate?: boolean;
}

const { nodonate } = Astro.props;

import '../styles/common.css';

import { OpenPanelComponent } from '@openpanel/astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/images/logo/web/favicon.png">
        <link rel="apple-touch-icon" href="/images/logo/web/apple-touch-icon.png">

        <link rel="preload" fetchpriority="high" as="image" href="/images/branches.svg" type="image/webp">

        <title>Open Source Endowment</title>
        <meta
          name="description"
          content="Truly sustainable funding for critical open source software through a community‑driven endowment.">
        <link rel="canonical" href={Astro.url}>
        <link rel="me" href="https://x.com/osendowment">
        <link rel="me" href="https://www.linkedin.com/company/osendowment/">
        <link rel="me" href="https://github.com/osendowment">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Open Source Endowment">
        <meta
          property="og:description"
          content="Truly sustainable funding for critical open source software through a community‑driven endowment.">
        <meta
          property="og:image"
          content="https://endowment.dev/images/opengraph.png">
        <meta
          property="og:image:alt"
          content="Truly sustainable funding for critical open source software.">
        <meta
          property="og:logo"
          content="https://endowment.dev/images/logo/Logomark%20Colored%20for%20Dark%20BG.png">
        <meta property="og:site_name" content="Open Source Endowment">
        <meta property="og:determiner" content="the">
        <meta property="og:url" content={Astro.url}>
        <meta
          name="twitter:title"
          content="Open Source Endowment">
        <meta
          name="twitter:description"
          content="Truly sustainable funding for critical open source software through a community‑driven endowment.">
        <meta
          name="twitter:image"
          content="https://endowment.dev/images/opengraph.png">
        <meta
          name="twitter:image:alt"
          content="Truly sustainable funding for critical open source software.">
        <meta
          name="twitter:logo"
          content="https://endowment.dev/images/logo/Logomark%20Colored%20for%20Dark%20BG.png">
        <meta name="twitter:url" content="https://endowment.dev">
        <meta name="twitter:card" content="summary_large_image">

        <script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "Open Source Endowment",
          "url" : "https://endowment.dev/"
        }
        </script>

        <script async defer src="/js/everyorg-endowment-button.js"></script>

        <OpenPanelComponent
            clientId="56442bc4-68fa-4003-8935-8210f125f448"
            trackScreenViews={true}
            trackAttributes={true}
            trackOutgoingLinks={true} />
        <script>
            !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init Ee Ps Rs xe ks Is capture We calculateEventProperties Cs register register_once register_for_session unregister unregister_for_session Ds getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSurveysLoaded onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey canRenderSurveyAsync identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty Fs Ms createPersonProfile As Es opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing Ts debug Os getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
            posthog.init('phc_6JrurNXvTpG5BX7dDfnR6h8LEX4cJHJf28RVmjw084M', {
                api_host: 'https://us.i.posthog.com',
                defaults: '2025-05-24',
                person_profiles: 'identified_only',
            })
        </script>
        <script>
            var initOpts = {
                projectKey: "pDiolTwtsGUmjDW31L9F",
                defaultInputMode: 2,
                obscureTextNumbers: false,
                obscureTextEmails: false,
            };
            var startOpts = { userID: "" };
            (function(A,s,a,y,e,r){
                r=window.OpenReplay=[e,r,y,[s-1, e]];
                s=document.createElement('script');s.src=A;s.async=!a;
                document.getElementsByTagName('head')[0].appendChild(s);
                r.start=function(v){r.push([0])};
                r.stop=function(v){r.push([1])};
                r.setUserID=function(id){r.push([2,id])};
                r.setUserAnonymousID=function(id){r.push([3,id])};
                r.setMetadata=function(k,v){r.push([4,k,v])};
                r.event=function(k,p,i){r.push([5,k,p,i])};
                r.issue=function(k,p){r.push([6,k,p])};
                r.isActive=function(){return false};
                r.getSessionToken=function(){};
            })("//static.openreplay.com/latest/openreplay-assist.js",1,0,initOpts,startOpts);
        </script>
    </head>
    <body>
        <div class="header-and-nav">
            <header>
                <div class="container header-items">
                    <a href="/" class="logo">
                        <img
                            class="desktop-only"
                            src="/images/logo/OSE Logo.svg"
                            alt="The Open Source Endowment logo">
                        <img
                            class="mobile-only"
                            src="/images/logo/Logomark Colored.svg"
                            alt="The Open Source Endowment logo">
                    </a>
                    <div class="desktop-only">
                        <nav class="desktop-nav">
                            <a href="/endowment" class={Astro.url.pathname === '/endowment' ? 'active' : ''}>Endowment</a>
                            <a href="/community" class={Astro.url.pathname === '/community' ? 'active' : ''}>Community</a>
                            <a href="/docs" class={Astro.url.pathname === '/docs' ? 'active' : ''}>Docs</a>
                        </nav>
                    </div>
                    <div class="desktop-only">
                        <div class="desktop-secondary-nav">
                            <a href="https://github.com/osendowment" target="_blank">
                                <svg role="img" aria-label="The GitHub logo" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 33 32"><path fill="#6b7280" fill-rule="evenodd" d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.6 15.6 0 0 1 4.078-.549 15.6 15.6 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"/></svg>
                            </a>
                            <a
                                href="https://www.every.org/osendowment?suggestedAmounts=100%2C500%2C1000%2C2000&theme_color=5ba9ee&designation=Endowment+Fund&utm_campaign=donate-link#/donate"
                                class="button button--colored button--fit"
                                data-track="header-donate"
                            >Donate</a>
                        </div>
                    </div>
                    <div class="mobile-only">
                        <div class="header-buttons">
                            <button class="button button--icon-only nav-trigger">
                                <img src="/images/icons/em-hamburger.svg">
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <div class="mobile-nav-wrapper">
                <div class="container">
                    <div class="mobile-only">
                        <nav class="mobile-nav" hidden>
                            <a href="/endowment" class={Astro.url.pathname === '/endowment' ? 'active' : ''}>Endowment</a>
                            <a href="/community" class={Astro.url.pathname === '/community' ? 'active' : ''}>Community</a>
                            <a href="/docs" class={Astro.url.pathname === '/docs' ? 'active' : ''}>Docs</a>
                            <a
                                href="https://www.every.org/osendowment?suggestedAmounts=100%2C500%2C1000%2C2000&theme_color=5ba9ee&designation=Endowment+Fund&utm_campaign=donate-link#/donate"
                                class="button button--colored"
                                data-track="header-donate"
                            >Donate</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <slot />
        <footer>
            <div class="container footer-items">
                <div class="footer-brand">
                    <img
                        src="/images/logo/OSE Logo.svg"
                        alt="The Open Source Endowment logo">
                    <p class="footer-credit">Designed by <a href="https://evilmartians.com/" target="_blank">Evil Martians</a></p>
                </div>
                <div class="footer-socials">
                    <a href="https://github.com/osendowment" target="_blank">
                        <svg role="img" aria-label="The GitHub logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 33 32"><path fill="#fff" fill-rule="evenodd" d="M16.288 0C7.294 0 0 7.293 0 16.29c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.6 15.6 0 0 1 4.078-.549 15.6 15.6 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311 1.044 1.138 1.674 2.593 1.674 4.371 0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455C32.579 7.293 25.285 0 16.288 0"/></svg>
                        <span>osendowment</span>
                    </a>
                    <a href="https://www.linkedin.com/company/osendowment/" target="_blank">
                        <svg role="img" aria-label="The LinkedIn logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 72 72"><path fill="#fff" d="M8 0a8 8 0 0 0-8 8v56a8 8 0 0 0 8 8h56a8 8 0 0 0 8-8V8a8 8 0 0 0-8-8zm8.35 10c3.508 0 6.347 2.863 6.347 6.396s-2.84 6.399-6.347 6.399S10 19.929 10 16.396 12.842 10 16.35 10m33.033 16.273c7.353 0 12.617 4.49 12.617 13.778V62H51.316V43.803c0-4.99-1.896-7.778-5.845-7.778-4.296 0-6.54 2.902-6.54 7.778V62H28.634V27.332H38.93v4.672s3.096-5.73 10.453-5.73m-38.35 1.059h10.735V62H11.03z"></svg>
                        <span>osendowment</span>
                    </a>
                    <a href="https://x.com/osendowment" target="_blank">
                        <svg role="img" aria-label="The X (Twitter) logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 300 300.251"><path fill="#fff" d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59H300M36.01 19.54h40.65l187.13 262.13h-40.66"/></svg>
                        <span>@osendowment</span>
                    </a>
                </div>
                <nav class="footer-nav">
                    <ul>
                        <li><a href="/endowment">Endowment</a></li>
                        <li><a href="/community">Community</a></li>
                        <li><a href="/docs">Docs</a></li>
                    </ul>
                </nav>
                <div class="footer-legal">
                    <p>Open Source Endowment Foundation</p>
                    <p>US 501(c)(3) tax-exempt charity (EIN 33-3502715)</p>
                    <p>Address: 74 E Glenwood Ave Unit 5756, Smyrna, DE</p>
                </div>
            </div>
        </footer>
    </body>
</html>

<script>
    function debounce_leading(func, timeout = 300){
        let timer;
        return (...args) => {
            if (!timer) {
                func.apply(this, args);
            }
            clearTimeout(timer);
            timer = setTimeout(() => {
                timer = undefined;
            }, timeout);
        };
    }
    const $navTriggers = document.querySelectorAll('.nav-trigger');
    const $mobileNavs = document.querySelectorAll('.mobile-nav');
    $navTriggers.forEach(($navTrigger) => {
        $navTrigger.addEventListener('click', debounce_leading(() => {
            $mobileNavs.forEach(($mobileNav) => {
                $mobileNav.hidden = !$mobileNav.hidden;
                if ($navTrigger.dataset.active) {
                    delete $navTrigger.dataset.active;
                } else {
                    $navTrigger.dataset.active = 'true';
                }
            });
        }));
    });
</script>
